/* custom css */

body {
    background-color: #e8e8e8;
    font-family: 'Roboto Slab', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}

.area {
  fill: #e7e7e7;
}

.cluster {
	font-family: 'Slabo 27px', serif;
}

.cluster-title {
	font-family: 'Slabo 50px', serif;
	color: #6666cc;
}

/*li {
	color:"black";
}*/
.frame { width: 100%; height: 200px; padding: 0; }
.frame .slidee { margin: 0; padding: 0; height: 100%; list-style: none; }
.frame .slidee li { 
    float: left; 
    text-align: center;
    margin: 0 5px 0 0; 
    width:200px;
    padding: 0; 
    height: 100%; 
    background-color: #333;
    cursor: pointer;
}
.frame .slidee li:hover {
    background-color: #777;
}

.frame .slidee li.active {
    background-color: #666;
}

.frame .slidee li div {
    font-weight: 100;
    font-style: normal;
    color: white;

}


.scrollbar {
    width:100%;
    margin: 0 0 1em 0;
    height: 3px;
    background: #ccc;
    line-height: 0;
}
.scrollbar .handle {
    width: 100px; /* overriden if dynamicHandle: 1 */
    height: 100%;
    background: #222;
    cursor: pointer;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none !important;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    margin-right:-4px;
}

video.loading {
  background: black url(../images/loader.gif) center center no-repeat;
}

.w3-disabled {
    cursor: default;
}