<!DOCTYPE html>
<html>
  <head>
    <title>Visualizaing News Topics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet">

    <link href={{ url_for('static', filename='css/main.css') }} rel="stylesheet" media="screen" type="text/css">
  </head>
  <body>
    <div class="container">

      <!-- The stories menu and scrollbar for it -->
      <div class="scrollbar" id="scrollbar">
        <div class="handle"></div>
      </div>
      <div class="frame" id="stories-frame">
        <ul class="slidee" id="stories-list">
        </ul>
      </div>


      <!-- videos -->
      <div class="" id="videos-section">
      </div>


    </div>

    <!-- scripts -->
    <script src={{ url_for('static', filename='js/d3.js') }}></script>
    <script src={{ url_for('static', filename='js/jquery-3.1.0.min.js') }}></script>
    <script src={{ url_for('static', filename='js/sly.js') }}></script>
    <script src={{ url_for('static', filename='js/main.js') }}></script>
  </body>
</html>